:root{
    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);
    --Dark-gray: hsl(0, 0%, 59%);
    --Name-stats-font-size: 18px;
}
body{
    margin: 0;
    box-sizing: border-box;
    font-family: "Kumbh sans", "sans-serif";
    font-family: "Quicksand", "sans-serif";
    
}
body{
    background: var(--Dark-cyan);
    height: 100vh;
    background-image: url(../profile-card-component-main/assets/bg-pattern-bottom.svg);
    background-position: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile_card{
    border-radius: 8px;
    width: 85%  ;
    margin: 0 auto;
    background-color: #ffffffff;
    overflow: hidden;
    
}
.profile_card_top{
    background-image: url("../assets/bg-pattern-card.svg");
    height: 120px;
    position: relative;
    display: flex;
    justify-content: center;
}

.profile_card_top img{
    border-radius: 50%;
    border: 2px solid white;
    position: absolute;
    bottom: -5px;

}

.profile-card-bottom_datos-profile > div{
    display: flex;
    height:  120 px;
    align-items: flex-end;
    justify-content: center;
}   

.profile-card-bottom_datos-profile > div span:nth-child(1){
    font-size: var(--Name-stats-font-size);
    font-weight: 700;
    margin-right: 8px;
}

.profile-card-bottom_datos-profile > div span:nth-child(2){
    font-size: var(--Name-stats-font-size);
    font-weight: 400;
    color: var(--Dark-gray);
    
}

.profile-card-bottom_datos-profile > p{
    text-align: center;

} 

.profile-card-bottom_datos-seguidores{
    display: flex;
    justify-content: space-around;
}
.profile-card-bottom_datos-seguidores div :nth-child(1){
    font-size: var(--Name-stats-font-size);
    font-weight: 700;
    text-align: center;
}
.profile-card-bottom_datos-seguidores div :nth-child(2){
    font-weight: 400;
    color: var(--Dark-gray);
    font-size: 14px;
    text-align: center;
}